h1{
    margin: -8px -2px;
    color:white;
    position:relative;
}

.cafeTitle{
    background-color:rgb(3, 30, 58);
    text-align: center;
    margin: 0 -15px;
    border-radius: 2px;
    color:white;
    width:100%;
    border-bottom:20px solid #99BADD;
    font-size:30px;
    position:absolute;
}
p {
    text-align: center;
    padding: 19px;
}

.newForm {
    border-radius: 5px;
    border: 1px grey solid;
    width: 40%;
    height:60%;
    margin:8% 30%;
    background-color:rgba(255, 255, 255, 0.842);
    position:relative;
}

.placeName{
    margin-top:20%;
}

.container {
    height:100%;
    width:85%;
}

.btn-primary {
    margin:5% 40%;
    
}

.comment {
    padding: 0 0;
    margin: 10px 0px;
    border-radius: 0;
    text-align: left;
}

/* ----------- iPhone 5, 5S, 5C and 5SE ----------- */

/* Portrait and Landscape */
@media screen  
  and (min-width: 320px) 
  {
    .cafeTitle {
        border-bottom: 19px solid #99BADD;
        padding: 0;
        font-size: 24px;
    }
    .newForm {
        width: 85%;
        margin: 10% 7%;
    }
    .placeName{
        margin-top:45%;
    }
    .address {
        margin:8% 0;
    }
    
    .createBtn.btn.btn-primary {
        background-color: #99BADD;
        border-color: #99BADD;
        margin:5% 41.5%;
    }   
}

@media only screen  
  and (min-width: 375px) { 
    .cafeTitle {
        font-size: 28px;
    }
    .newForm {
        width: 85%;
        margin: 20% 7.5%;
    }
    .placeName{
        margin-top:47%;
    }
    .createBtn.btn.btn-primary {
        background-color: #99BADD;
        border-color: #99BADD;
        margin:5% 44.5%;
    }   

}

@media only screen  
  and (min-width: 414px) { 
    .cafeTitle {
        font-size: 31px;
    }
    .newForm {
        width: 85%;
        margin: 20% 7.7%;
    }
    .placeName{
        margin-top:50%;
    }
    .createBtn.btn.btn-primary {
        background-color: #99BADD;
        border-color: #99BADD;
        margin:5% 42.5%;
        width: 35%;
    }   

}

@media only screen 
    and (min-width:768px) {
        .cafeTitle {
            font-size: 31px;
        }
        .newForm {
            width: 45%;
            margin: 18% auto;
        }
        .placeName{
            margin-top:45%;
        }
        .createBtn.btn.btn-primary {
            background-color: #99BADD;
            border-color: #99BADD;
            margin:5% 32.5%;
            width: 35%;
        }   
        .container {
            width:100%;
            font-size: 22px;
        }
    
}
/* ----------- iPad 3, 4 and Pro 9.7" ----------- */

@media only screen
  and (min-width: 1024px)
  {
    .cafeTitle {
        font-size: 37px;
        border-bottom:25px solid #99BADD;

    }
    .newForm {
        width: 45%;
        margin: 18% auto;
    }
    .placeName{
        margin-top:30%;
    }
    .createBtn.btn.btn-primary {
        background-color: #99BADD;
        border-color: #99BADD;
        margin:5% 32.5%;
        width: 35%;
    }   
    .container {
        width:100%;
        font-size: 25px;
    }
}

@media only screen
  and (min-width: 1440px)
  {
    .cafeTitle {
        font-size: 42px;
        border-bottom:25px solid #99BADD;

    }
    .newForm {
        width: 40%;
        margin: 8% auto;
    }
    .placeName{
        margin-top:25%;
    }

    .placeName, .address, .newImage, .comment {
        width:80%;
    }
    .createBtn.btn.btn-primary {
        background-color: #99BADD;
        border-color: #99BADD;
        margin:5% 32.5%;
        width: 35%;
    }   
    .container {
        width:100%;
        font-size: 25px;
    }
}