.home-page {
    background-color:#99BADD;
    width:100%;
    height:100%;
    position:absolute;
    overflow: scroll;
   
   }
   
.UNC {
    width:100%;
    height:35%;
}

.loginBtn.btn.btn-primary {
    position:fixed;
    background-color: #99Badd;
    border-color:#99BADD;
    margin: -5% 80%;
    width:7%;
}

h3 {
    text-align:center;
}

  
.location-wrapper {
    background: white;
    border: 1px solid black;
    margin: 3% 4.5%;
    min-width: 330px;
    border-radius: 4px;
    position:relative;
    display:inline-block;
}

.CafeImage {
    margin:5% auto;
    padding-top: 4%;
}

.landingPage {
    position: absolute;
    margin: -7% 8%;
    display: flex;
    color: white;
    font-size: 32px;
    font-weight: 800;
    background-color: #3531318a;
}


/* ----------- iPhone 5, 5S, 5C and 5SE ----------- */

/* Portrait and Landscape */
@media only screen  
  and (max-width: 320px) {

    .loginBtn.btn.btn-primary {
        margin: -18% -28%;
        width:24%;
        height: 6%;
    }

    .UNC {
        height:20%;
    }
    .location-wrapper {
        min-width: 300px;
        margin: 14% -1.5%;
    }
    .landingPage {
        font-size: 14px;
        margin: -25% auto;
        font-weight: 600;
    }
}

/* ----------- iPhone 6, 6S, 7 and 8 -----------

/* Portrait and Landscape */
@media only screen  
  and (min-width: 375px) { 
    .loginBtn.btn.btn-primary {
        margin: -16% -26%;
        width: 21%;
        height: 5%;
    }
    .UNC {
        height:16%;
    }
    .location-wrapper {
        margin: 14% 2.5%;
    }
    .landingPage {
        font-size: 15px;
        margin: -22% 4%;
        font-weight: 600;
    }
}

/* ----------- iPhone 6+, 7+ and 8+ ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-width: 414px) { 
    .loginBtn.btn.btn-primary {
        margin: -16% -25%;
        width: 19%;
        height: 5%;
    }
    .UNC {
        height:18%;
    }
    .location-wrapper {
        margin: 14% 7.5%;
    }
    .landingPage {
        font-size: 18px;
        margin: -22% 5%;
        font-weight: 600;
    }
}
/* ----------- iPad 3, 4 and Pro 9.7" ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-width: 768px) {
    .loginBtn.btn.btn-primary {
        margin: -9% -18%;
        width: 12%;
        height: 4%;
    }
    .UNC {
        height:21%;
    }
    .location-wrapper {
        margin: 6% 2.5%;
    }
    .landingPage {
        font-size: 18px;
        margin: -9% 5%;
    }
}

/* iPad Pro */
@media only screen 
  and (min-width: 1024px) {
    .loginBtn.btn.btn-primary {
        margin: -7% -18%;
        width: 10%;
        height: 3%;
    }
    .UNC {
        height:19%;
    }
    .location-wrapper {
        margin: 6% 7.5%;
    }
    .landingPage {
        font-size: 23px;
    }
}

/* ----------- Non-Retina Screens ----------- */
@media screen 
  and (min-device-width: 1200px) {
    .loginBtn.btn.btn-primary {
        margin: -5.5% -18%;
        width: 10%;
        height: 4%;
        font-size:23px;
    }
    .UNC {
        height:25%;
    }
    .location-wrapper {
        margin: 3% 2.5%;
    }
    .landingPage {
        font-size: 27px;
    }
}

/* ----------- Non-Retina Screens ----------- */
@media screen 
  and (min-width: 1440px) {
    .loginBtn.btn.btn-primary {
        margin: -5.3% -19%;
        width: 8%;
        height:4.5%;
        font-size:18px;
    }
    .UNC {
        height:35%;
    }

    .location-wrapper {
        margin: 5% 4.5%;
    }
    .landingPage {
    margin: -7% 8%;
    display: flex;
    color: white;
    font-size: 32px;
    font-weight: 800;
    background-color: #3531318a;
    }
}