.newCafeBtn {
    position: fixed;
    width: 10%;
    margin: -16% -81%;
}

.deleteBtn {
    margin: 4% 36%;
}

.CafeImage {
    width:170px;
    height: 170px;
}

.logOut {
 position:fixed;
 background-color: #99BADD;
 border-color: #99BADD;
}

/* ----------- iPhone 5, 5S, 5C and 5SE ----------- */

/* Portrait and Landscape */
@media only screen  
  and (max-width: 320px) {
    img.newCafeBtn {
        width:11%;
        margin:-17% -81%;
    }

    button.logOut.btn.btn-primary {
        margin: -16.8% -25%;
        width: 22%;
        height: 4.5%;
        font-size: 11px;
    }
}

/* ----------- iPhone 6, 6S, 7 and 8 -----------

/* Portrait and Landscape */
@media only screen  
  and (max-width: 375px) { 

    img.newCafeBtn {
        width: 9%;
        margin: -15.5% -80.5%;
    }

    button.logOut.btn.btn-primary {
        margin: -16% -26%;
        width: 24%;
        height: 4.5%;
        font-size: 12px;
    }
}

/* ----------- iPhone 6+, 7+ and 8+ ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-width: 414px) { 
    img.newCafeBtn {
        width: 9%;
        margin: -15% -81%;
    }
    button.logOut.btn.btn-primary {
        margin: -16% -26%;
        width: 24%;
        height:5%;
        font-size:16px;
    }
}
/* ----------- iPad 3, 4 and Pro 9.7" ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-width: 768px) {
    img.newCafeBtn {
        width: 7%;
        margin: -9.5% -83%;
    }    
    button.logOut.btn.btn-primary {
        margin: -9% -20%; 
        width: 13%;
        height: 4%;
        font-size: 17px;  
    }       
}

/* iPad Pro */
@media only screen 
  and (min-width: 1024px) {
    img.newCafeBtn {
        width: 7%;
        margin: -8.5% -80%;
    }
    button.logOut.btn.btn-primary {
        margin: -7% -17%;
        width: 10%;
        height: 3%;
        font-size: 17px;    
    }           
}

/* ----------- Non-Retina Screens ----------- */
@media screen 
  and (min-width: 1200px) {
    img.newCafeBtn {
        width: 5%;
        margin: -6.5% -83.5%;
    }
    button.logOut.btn.btn-primary {
        margin: -6% -20%;
        width: 10%;
        height: 3.5%;
        font-size: 16px;  
    }            
}

/* ----------- Non-Retina Screens ----------- */
@media screen 
  and (min-width: 1440px) {
    img.newCafeBtn {
        width: 5%;
        margin: -6% -84%;
    }
    button.logOut.btn.btn-primary {
        margin: -5% -17%;
        width: 8%;
        height: 4.5%;
        font-size: 18px;  
    }            
}
