.Logo {
    width:3.5%;
    position: absolute;
    margin: -5.5% 10%;
}
.header {
    background-color: rgb(3, 30, 58);
    text-align: center;
    border-bottom: 15px solid #99BADD;
    position: relative;
    width:100%;
    margin:0 auto;
}

/* ----------- iPhone 5, 5S, 5C and 5SE ----------- */

/* Portrait and Landscape */
@media only screen  
  and (min-width: 320px) {

    .Logo { 
        width:10%;
        margin: -18% 7%;
    }
    .header{
        font-size:28px;
    } 
}

/* ----------- iPhone 6, 6S, 7 and 8 -----------

/* Portrait and Landscape */
@media only screen  
  and (min-width: 375px) { 
    .Logo { 
        width:11%;
        margin: -18% 6%;
    }
    .header{
        font-size:33px;
    } 
}


/* ----------- iPhone 6+, 7+ and 8+ ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-width: 414px) { 
    .Logo { 
        width:10%;
        margin: -17% 6%;
    }
    .header{
        font-size:35px;
    } 
}
/* ----------- iPad 3, 4 and Pro 9.7" ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-width: 768px) {
    .Logo { 
        width:6%;
        margin: -9% 6%;
    }
    .header{
        font-size:40px;
    } 
}

/* iPad Pro */
@media only screen 
  and (min-width: 1024px) {
    .Logo { 
        width:6%;
        margin: -8.5% 8%;
    }
    .header{
        font-size:45px;
    } 
}

/* ----------- Non-Retina Screens ----------- */
@media screen 
  and (min-width: 1200px) {
    .Logo { 
        width: 4%;
        margin: -6% 8%;
    }
    .header{
        font-size:40px;
    }  
}

@media screen 
  and (min-width: 1440px) {
    .Logo { 
        width:4%;
        margin: -6% 8%;
    }
    .header {
        font-size:45px;
    }
}










